# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
/venv/
/env/

# Outputs
outputs/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / editor
.idea/
.vscode/
